/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[叠]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[尝]ogs/
/[🪲]er项/
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
